        label { color: black; font-weight: bold; width: 150px;  float: left; } 


         input[type=text] {
             width: 100%;
            padding: 24px 40px;
            margin: 8px 0;
            box-sizing: border-box;
            background-color: #ffffff;
            color: white;
            resize: none;
            border: 2px solid rgb(5, 5, 5);
            border-radius: 4px;
            resize: vertical

               }
               body {
               box-sizing: border-box;
               text-align: center;
               /*background-image: url("baby-animals-white-puppy-rottweiler-two-kitten-cat-dog-sleep-cute-pets-pictures-1920x1080.jpg");*/
            

                     }  
            form {
         display: inline-block;
                  }

   input[type=button], input[type=submit] {
  background-color: #071ffc;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  display: inline-block;
}
.container {
  border-radius: 25px;
  background-color: #f2f2f2;
  padding: 20px;
}




      