label { color: rgb(0, 0, 0); font-weight: bold; width: 150px;  float: left; } 


         input[type=text] {
             width: 100%;
            padding: 24px 40px;
            margin: 8px 0;
            box-sizing: border-box;
            background-color: #ffffff;
            color: rgb(0, 0, 0);
            resize: none;
            border: 2px solid rgb(1, 40, 146);
            border-radius: 4px;
            resize: vertical

               }

               ::-ms-input-placeholder { /* Microsoft Edge */
                color: rgb(0, 0, 0);
              }
            