label { color: rgb(0, 0, 0); font-weight: bold; width: 150px;  float: left; } 


         input[type=text] {
             width: 100%;
            padding: 24px 40px;
            margin: 8px 0;
            box-sizing: border-box;
            background-color: #367511;
            color: rgb(255, 255, 255);
            resize: none;
            border: 2px solid red;
            border-radius: 4px;
            resize: vertical

               }

               ::-ms-input-placeholder { /* Microsoft Edge */
                color: red;
              }
            